.boards {
    background: #F8FAF9;
}

.boards__item {
    display: flex;
}

.boards__content {
    display: flex;
    flex-direction: column;
}

.boards__options-icon {
    margin-top: 66px;
}

.boards-options-hover {
    background: #0000000f;
    box-shadow: 4px 4px 40px 0px #0000000f;
    width: 273px;
    height: 291px;
    border-radius: 4px;
    position: relative;
    top: -95px;
    left: 91px;
    display: none;
}

.boards__options-icon:hover + .boards-options-hover{
    display: block;
}

.options__list {
    display: flex;
    flex-direction: column;
    padding: 18px 25px 21px 26px;
}

.options__item {
    display: flex;
    height: 44px;
    align-items: center;
    margin-bottom: 8px;
    justify-content: flex-end;
}

.options__item:last-child {
    margin-bottom: 0;
}

.options__item-text {
    margin-left: 12px;
    width: 127px;
    font-weight: 500;
    font-size: 16px;
}

.options__item-quantity {
    width: 53px;
    text-align: end;
}

.boards__content-title {
    font-size: 36px;
    margin-top: 52px;
}

.boards__content-text {
    font-size: 18px;
    color: #666666;
    margin-top: 24px;
}

.boards__content-size {
    margin-top: 24px;
    display: flex;
}

.boards__content-long {
    margin-right: 55px;
}
