.boards {
    background: #F8FAF9;
}

.boards__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boards__content {
    display: flex;
    flex-direction: column;
}

.boards-options {
    position: relative;
}

.boards__options-icon {
    margin-top: 66px;
}

.boards-options-hover {
    background: #FFFFFF;
    box-shadow: 4px 4px 40px 0px #0000000f;
    width: 273px;
    height: 291px;
    border-radius: 4px;
    position: absolute;
    top: 66px;
    left: 91px;
    display: none;
}

.boards__options-icon:hover + .boards-options-hover{
    display: block;
}

.options__list {
    display: flex;
    flex-direction: column;
    padding: 18px 25px 21px 26px;
}

.options__item {
    display: flex;
    height: 44px;
    align-items: center;
    margin-bottom: 8px;
    justify-content: flex-end;
}

.options__item:last-child {
    margin-bottom: 0;
}

.options__item-text {
    margin-left: 12px;
    width: 127px;
    font-weight: 500;
    font-size: 16px;
}

.options__item-quantity {
    width: 53px;
    text-align: end;
}

.boards__content-title {
    font-size: 36px;
    margin-top: 52px;
}

.boards__content-text {
    font-size: 18px;
    color: #666666;
    margin-top: 24px;
    width: 374px;
    height: 110px;
}

.boards__content-size {
    margin-top: 24px;
    display: flex;
    font-size: 18px;
}

.boards__content-long {
    margin-right: 55px;
}

.boards__content-long-1 {
    color: #666666;
}

.boards__content-width-1 {
    color: #666666;
}

.boards__content-prices {
    display: flex;
    margin-top: 24px;
    align-items: center;
    height: 60px;
}

.boards__content-price {
    font-size: 60px;
    font-weight: 300;
    width: 187px;
    color: #151515;
    margin-right: 28px;
}

.button--boards {
    position: relative;
}

.button--boards-right {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    border: 2px solid transparent;
    border-top-color: #000000;
    border-left-color: #000000;
    transform: rotate(135deg);
}

.button--boards-left {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    border: 2px solid transparent;
    border-top-color: #000000;
    border-left-color: #000000;
    transform: rotate(-45deg);
}