.boards {
    background: #F8FAF9;
}

.boards__item {
    display: flex;
}

.boards__content {
    display: flex;
    flex-direction: column;
}

.boards__options-icon {
    margin-top: 66px;
}

.boards-options-hover {
    background: #0000000f;
    box-shadow: 4px 4px 40px 0px #0000000f;
}

.options__list {
    display: flex;
    flex-direction: column;
}

.options__item {
    display: flex;
}

