.header {
    background: url(../../images/bghead.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

.header__first {
    display: flex;
    margin-top: 28px;
    align-items: center;
    justify-content: space-between;
}

.header__second {
    display: flex;
    margin-top: 102px;
    justify-content: space-between;
}

.header__thirt {
    margin-top: 64px;
    margin-bottom: 61px;
    width: 486px;
}
