.points__item-point {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    color: #FFFFFF;
}

.points__item-circle {
    height: 18px;
    width: 18px;
    border-radius: 50px;
    border: 1px #ffffff;
}