.points__item {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: relative;
    margin-bottom: 13px;
}

.points__item::after {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    right: -6px;
    top: -5px;
    display: none;
}

.points__item--active .points__item::after{
    display: block;
}

