.team__title {
    margin-top: 67px;
    font-size: 48px;
    text-align: center;
}

.team__list {
    margin-top: 53px;
    display: flex;
}

   summary {
    position: relative;
    display: block;
  }

  summary::-webkit-details-marker {
    display: none;
  }
  
  summary::before {
    content: url(../../images/details1.png);
    position: absolute;
    right: 20px;
    right: 82px;
    top: 4px;
    
  }
  
  details[open]>summary::before {
    top: 0px;
    transform: rotate(180deg);
  }
