.team__title {
    margin-top: 67px;
    font-size: 48px;
    text-align: center;
}

.team__list {
    margin-top: 53px;
    display: flex;
}

   summary {
    position: relative;
    display: block;
  }

  summary::-webkit-details-marker {
    display: none;
  }
  
  summary::before {
    content: "";
    position: absolute;
    right: 20px;
    right: 82px;
    top: 4px;
    border: 7px solid transparent;
    border-top-color: #292929;
  }
  
  details[open]>summary::before {
    content: "";
  }
