.why__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 105px;
}

.why__title-text {
    margin: 0;
    font-size: 48px;
}

.why__title-subtitle {
    margin-top: 17px;
    width: 436px;
    text-align: center;
    font-size: 18px;
}

.why__list {
    display: flex;
    margin-top: 49px;
}

.why__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}