.title {
    display: flex;
    flex-direction: column;
    width: 583px;
}

.title__text {
    color: #ffffff;
    font-weight: 700;
    font-size: 48px;
    margin: 0;
}

.subtitle {
    font-size: 21px;
    color: #ffffff;
    margin-top: 17px;
}

.title__button {
    margin-top: 39px;
}