.advantages-container {
    background: #252532;
    border: 1px solid;
    border-image-source: linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.advantages__item {
    max-width: 325px;
    margin-top: 50px;
}

.advantages__icon {
    margin-bottom: 42px;
}

.advantages__title {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.advantages__text {
    color: #B0B0B2;
    line-height: 28px;
}