.btn {
    width: 163px;
    height: 54px;
    padding: 21px, 41px, 21px, 41px;
    border-radius: 100px;
    background-color: $red;
    font-weight: 700;
    color: $white;
    border: transparent;
}