.btn {
    width: 163px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: $red;
    font-weight: 700;
    color: $white;
    border: transparent;

    &:hover {
        background-color: #CA1B36;
    }
}



