.contacts {
    display: flex;
    align-items: baseline;
}

.contacts__icon {
    height: 0.8125rem;
    margin-right: 0.3125rem;
}

.contacts__number {
    font-size: 1.375rem;
    font-weight: 700;
}