.features {
    display: flex;
}

.features__item {
    display: flex;
    margin-right: 33px;
    align-items: center;

    &:last-child {
        margin-right: 0;
    }
}

.features__icon {
    margin-right: 14px;
}

.features__text {
    width: 90px;
}