.hero-section {
    background-color: #F5F5F5;
    position: relative;

    &::before {
        content: url(../../img/hero-bg.png);
        position: absolute;
        left: 50%;
        top: 13%;
        }
    

    &::after {
        content: "";
        position: absolute;
        left: 90%;
        top: 99%;
        width: 46px;
        height: 10px;
        transform: rotate(-45deg);
        background: #C4C4C4;
      }
    }

.hero__content {
    margin-top: 94px;
}

.hero__content-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    width: 400px;
    line-height: 52px;
}

.hero__content-subtitle {
    margin-top: 22px;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    width: 332px;
}

.hero__btn {
    margin-top: 36px;
}

.hero__icons {
    margin-top: 70px;
}

.hero__icons-list {
    display: flex;
}

.hero__icons-item {
    display: flex;
}

.hero__icon {
    width: 41px;
    height: 41px;
    margin-right: 11px;
    margin-bottom: 65px;
}

.hero__icon-text {
    width: 114px;
}

