.hero-section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    position: relative;
    
    &::before {
        position: absolute;
        content: url(../../img/hero/hero-bg-1.png);
        right: 0;
    }

    &::after {
        position: absolute;
        content: url(../../img/hero/hero-bg-2.png);
        left: -383px;
        top: 127px;
    }
}

.hero__main {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.hero__col {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-end;
    position: relative;
}

.hero__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 540px;
    //width: 45%;
    margin-top: 87px;
}

.hero__title {
    font-size: 64px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 82px;
}

.hero__subtitle {
    font-weight: 300;
    //width: 84%;
    margin-top: 12px;
    margin-bottom: 32px;
}

.hero__footer {
    display: flex;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 66px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero__client-wrapper {
    display: flex;
    align-items: center;
}

.hero__client-list {
    display: flex;
    position: relative;
    width: 127px;
    margin-right: 18px;
}

.hero__client-item {

    &-2 {
        position: absolute;
        right: 29%;
    }

    &-3 {
        position: absolute;
        right: -3%;
    }

}

.hero__client-score {
    display: flex;
}

.hero__client-score-number {
    font-weight: 600;
    color: #FFFFFF;
    margin-right: 4px;
    position: relative;

    &::after {
        position: absolute;
        content: url(../../img/hero/hero-underline.png);
        top: 7px;
        right: -9px;
    }
}

.hero__client-score-text {
    font-weight: 300;
}

.hero__video-wrapper {
    width: 196px;
    height: 128px;
    margin-left: 75px;
}

.hero__video {
    width: 196px;
    height: 127px;
}

.hero__man {
    z-index: 1;
    position: relative;
}

.hero__man-wrapper {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 60%;
        left: 47%;
        width: 100%;
        height: 50%;
        background: -o-linear-gradient(351.46deg,rgba(28,196,249,.8) .72%,rgba(254,105,254,.8) 90.69%);
        background: linear-gradient(98.54deg,rgba(28,196,249,.8) .72%,rgba(254,105,254,.8) 90.69%);
        -webkit-filter: blur(105px);
        filter: blur(105px);
        border-radius: 88% 12% 88% 12%/20% 37% 63% 80%;
        -webkit-transform: translate(-50%,-50%) rotate(-30deg);
        -ms-transform: translate(-50%,-50%) rotate(-30deg);
        transform: translate(-50%,-50%) rotate(-30deg);
    }
}


