.reviews__title {
    margin-top: 64px;
}

.review {
    background-color: #F8FAF9;
    display: flex;
    padding: 42px 107px 42px 42px;
    margin-top: 32px;
}

.review__img {
    margin-right: 40px;
}

.review__info-title {
    margin-top: 32px;
    margin-bottom: 27px;
}

.review__info-text {
    color: #666666;
}

.review__info-name {
    font-size: 18px;
    font-weight: 700;
    margin-top: 38px;
}