.reviews__title {
    margin: 3.625rem auto 2rem;
}

.reviews__review {
    background: #F8FAF9;
    display: flex;
}

.reviews__review-img {
    margin: 2.625rem;
}

.reviews__review-title {
    margin-top: 4.375rem;
}

.reviews__review-text {
    margin-top: 0.875rem;
    width: 28.9375rem;
}

.reviews__review-author {
    margin-top: 1.5625rem;
    font-weight: 500;
    color: $titleTextColor;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
    margin-top: 0.9375rem;
}

.reviews__switcher-item {
    border: 6px solid transparent;
    border-radius: 50%;
    width: 4.625rem;
    height: 4.625rem;
    overflow: hidden;
    position: relative;

    &--active {
        border-color: #FEDB3F;
    }
}

.reviews__switcher-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
}

