.shop__info-dropdown-wrapper {
    background-color: #9A9A9A;
    width: 91px;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.shop__info-dropdown {
    width: 42px;
    height: 42px;
    display: block;
}
