.shop__dropdown {
    position: relative;
    width: 91px;

    &:hover .shop__dropdown-list {
        display: block;
    }
}

.shop__dropdown-icon {
    background-color: #9A9A9A;
    width: 91px;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 25px;
}

.shop__dropdown-img {
    width: 42px;
    height: 42px;
    display: block;
}

.shop__dropdown-list {
    background: #FFFFFFCC;
    box-shadow: 4px 4px 40px 0px #0000000F;
    width: 273px;
    height: 294px;
    padding: 28px 25px 34px 30px;
    position: absolute;
    display: none;
    border-radius: 4px;
    top: 0px;
    left: 91px;
}

.shop__dropdown-item {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    width: 218px;

    &:last-child {
        margin-bottom: 0; 
    }
}

.shop__dropdown-item-icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.shop__dropdown-item-number {
    width: 53px;
    text-align: right;
}

.shop__dropdown-item-text {
    width: 127px;
}