.why__head {
    margin-top: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why__head-title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
}

.why__head-subtitle {
    width: 56%;
    text-align: center;
}