.container--why {
    text-align: center;
}

.why__title {
    margin-top: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why__title-sub {
    margin-top: 17px;
    width: 436px;
}

.why__list {
    display: flex;
    margin-top: 49px;
}

.why__item {
    flex: 1;
    margin-right: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:last-child {
        margin-right: 0;

        &::before {
            display: none;
        }
    }

    &::before {
        content: url(../../img/whyshape.svg);
        position: absolute;
        left: 270px;
        top: 59px;
    }

}

.why__item-img {
    width: 128px;
    height: 128px;
    background: #F2F5F4;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why__item-icon {
    width: 68px;
    height: 68px;
}

.why__item-title {
    margin: 20px 0;

}