.why-section {
    position: relative;

    &::after {
        content: "";
        border-bottom: 35px solid #E01F3D;
        border-left: 17px solid transparent;
        border-right: 18px solid transparent;
        position: absolute;
        bottom: -17px;
        left: 17px;
        width: 0;
        height: 0;
        z-index: 1;
        transform: rotate(229deg);    
    }
}

.why__head {
    margin-top: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why__head-subtitle {
    width: 56%;
    text-align: center;
}

.why__list {
    margin-top: 62px;
    display: flex;
}

.why__item {
    position: relative;
    width: 276px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 55px;
    padding: 0px 26px;

    &::after {
        position: absolute;
        content: url(../../img/why-bg.svg);
        display: block;
        left: 95%;
        top: 17%;
    }
    
    &:last-child {
        margin-right: 0;

        &::after {
            display: none;
        }
    }
}

.why__item-icon-wrapper {
    width: 128px;
    height: 128px;
    background-color: #F2F5F4;
    border-radius: 50%;
    position: relative;
}

.why__item-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.why-icon-1 {
    width: 33px;
    height: 61px;
}

.why-icon-2 {
    width: 52px;
    height: 47px;
}

.why-icon-3 {
    width: 59px;
    height: 65px;
}

.why__item-title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;
}

.why__item-text {
    margin-top: 7px;
}