.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: 26px;

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
}

.form__block {
    flex: 1;
    margin-right: 14px;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: 3px solid transparent;
    padding: 18px 12px;

    &--textarea {
        height: 152px;
        resize: none;
    }

    &:focus {
        border-color: $yellow;
        outline: none;
    }
}