.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: 26px;

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
}

.form__block {
    flex: 1;
    margin-right: 14px;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: 3px solid transparent;
    padding: 18px 12px;
    height: 58px;
    border-radius: 5px;
    margin-bottom: 14px;

    &--textarea {
        height: 152px;
        resize: none;
    }

    &:focus {
        border-color: $yellow;
        outline: none;
    }
}

.form__controls {
    display: flex;
    margin-bottom: 16px;
}

.form__input--textarea {
    margin-bottom: 36px;
}

.form__btns {
    margin-top: 28px;
}