.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: rem(26px);

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
}

.form__block {
    flex: 1;
    margin-right: rem(14px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: rem(3px) solid transparent;
    padding: rem(18px) rem(12px);
    height: rem(58px);
    border-radius: rem(5px);
    margin-bottom: rem(14px);

    &--textarea {
        height: rem(152px);
        resize: none;
    }

    &:focus {
        border-color: $yellow;
        outline: none;
    }
}

.form__controls {
    display: flex;
    margin-bottom: rem(16px);
}

.form__input--textarea {
    margin-bottom: rem(36px);
}

.form__btns {
    margin-top: rem(28px);
}