@import './normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  color: #292929;
}

a {
  text-decoration: none;
  color: #292929;
}

ul li {
  list-style: none;
}

h1 {
  margin: 0;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.section-title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
}

.hero-section {
  background-color: #F5F5F5;
  position: relative;
}
.hero-section::before {
  content: url(../../img/hero-bg.png);
  position: absolute;
  left: 50%;
  top: 13%;
}
.hero-section::after {
  content: "";
  position: absolute;
  left: 90%;
  top: 99%;
  width: 46px;
  height: 10px;
  transform: rotate(-45deg);
  background: #C4C4C4;
}

.hero__content {
  margin-top: 94px;
}

.hero__content-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  width: 400px;
  line-height: 52px;
}

.hero__content-subtitle {
  margin-top: 22px;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  width: 332px;
}

.hero__btn {
  margin-top: 36px;
}

.hero__icons {
  margin-top: 70px;
}

.hero__icons-list {
  display: flex;
}

.hero__icons-item {
  display: flex;
}

.hero__icon {
  width: 41px;
  height: 41px;
  margin-right: 11px;
  margin-bottom: 65px;
}

.hero__icon-text {
  width: 114px;
}

.header {
  display: flex;
  margin-top: 24px;
  height: 40px;
  align-items: center;
}

.menu {
  margin-right: 46px;
  width: 640px;
}

.menu__list {
  display: flex;
  font-size: 18px;
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 38px;
}

.contacts {
  display: flex;
}

.contacts__icon-wrapper {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.contacts__tel {
  font-size: 18px;
}

.btn {
  width: 163px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #E01F3D;
  font-weight: 700;
  color: #FFFFFF;
  border: transparent;
}
.btn:hover {
  background-color: #CA1B36;
}

.why-section {
  position: relative;
}
.why-section::after {
  content: "";
  border-bottom: 35px solid #E01F3D;
  border-left: 17px solid transparent;
  border-right: 18px solid transparent;
  position: absolute;
  bottom: -17px;
  left: 17px;
  width: 0;
  height: 0;
  z-index: 1;
  transform: rotate(229deg);
}

.why__head {
  margin-top: 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why__head-subtitle {
  width: 56%;
  text-align: center;
}

.why__list {
  margin-top: 62px;
  display: flex;
}

.why__item {
  position: relative;
  width: 276px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 55px;
  padding: 0px 26px;
}
.why__item::after {
  position: absolute;
  content: url(../../img/why-bg.svg);
  display: block;
  left: 95%;
  top: 17%;
}
.why__item:last-child {
  margin-right: 0;
}
.why__item:last-child::after {
  display: none;
}

.why__item-icon-wrapper {
  width: 128px;
  height: 128px;
  background-color: #F2F5F4;
  border-radius: 50%;
  position: relative;
}

.why__item-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.why-icon-1 {
  width: 33px;
  height: 61px;
}

.why-icon-2 {
  width: 52px;
  height: 47px;
}

.why-icon-3 {
  width: 59px;
  height: 65px;
}

.why__item-title {
  margin-top: 24px;
  font-weight: 700;
  font-size: 24px;
}

.why__item-text {
  margin-top: 7px;
}

.shop-section {
  background-color: #F8FAF9;
}

.shop__wrapper {
  display: flex;
  align-items: center;
}

.shop__item {
  display: flex;
}
.shop__item--red {
  display: none;
}

.shop__img {
  margin: 96px 59px 94px 28px;
}

.shop__info {
  margin: 67px 0 124px 0;
}

.shop__info-title {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  width: 419px;
}

.shop__info-text {
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #666666;
  width: 368px;
  margin-top: 24px;
}

.shop__info-features {
  margin-top: 24px;
  display: flex;
}

.shop__info-feature {
  width: 104px;
  height: 44px;
  margin-right: 44px;
}

.shop__info-text-1 {
  color: #666666;
}

.shop__info-text-2 {
  color: #292929;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

.shop__info-price {
  display: flex;
  margin-top: 24px;
  align-items: center;
}

.shop__info-price-sum {
  font-size: 36px;
  line-height: 60px;
  color: #151515;
  width: 148px;
  margin-right: 13px;
}

.shop__dropdown {
  position: relative;
  width: 91px;
}
.shop__dropdown:hover .shop__dropdown-list {
  display: block;
}

.shop__dropdown-icon {
  background-color: #9A9A9A;
  width: 91px;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 25px;
}

.shop__dropdown-img {
  width: 42px;
  height: 42px;
  display: block;
}

.shop__dropdown-list {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.0588235294);
  width: 273px;
  height: 294px;
  padding: 28px 25px 34px 30px;
  position: absolute;
  display: none;
  border-radius: 4px;
  top: 0px;
  left: 91px;
}

.shop__dropdown-item {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  width: 218px;
}
.shop__dropdown-item:last-child {
  margin-bottom: 0;
}

.shop__dropdown-item-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.shop__dropdown-item-number {
  width: 53px;
  text-align: right;
}

.shop__dropdown-item-text {
  width: 127px;
}/*# sourceMappingURL=main.css.map */